@import "tailwindcss";

@theme {
  --color-brand: var(--p-green-500);
  --color-base: #0A0A0A;
}
@import 'primeicons/primeicons.css';

:root {
  font-family: 'Jost', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 0.9rem;
  font-weight: 300;
}

.font-zilla {
  font-family: 'Zilla Slab Highlight', serif;
}

h1 {
  font-size: 3rem;
}